/* Your custom styles */
.background_stuff{
background-color: #e8d081!important;
}

.navbar_color {
    background-color: #d0ac3f!important;
    
}
.title{
	background-color: #dddddd!important;
}
.jerrys_name{
	font-family: Roboto;
	background-color: #dddddd!important;

}
.jerrys_bio{
	background-color: #dddddd!important;
	/*font-size: 18px;*/
}

.La_Furia{
	font-size: 17px;
	color: #ff68c7!important;
	background-color: #5c6e70!important; 
}

.troogin{
	color: #0b93a0!important;
	background-color: #000000!important; 
}

.windmills{
	color: #177010!important;
	background-color: #f9f9f9!important; 

}

.Joseph{
	font-size: 50px;

}